/noafiles
src/main/resources/application.properties
/out/
/.gradle/
/.idea/
/build/
/gradle/
/logs/
/bin/
/gradlew/
/gradlew.bat/
.env
.DS_Store
src/main/generated/
.classpath
.project
.settings/
.vscode/
